<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878492700374-4ed06d6jc06fvr3qmamab2e07h6ut24j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878492700374-4ed06d6jc06fvr3qmamab2e07h6ut24j</string>
	<key>API_KEY</key>
	<string>AIzaSyAL1MEgisemoEXlR8CBcYIqe7C9tUkr-S0</string>
	<key>GCM_SENDER_ID</key>
	<string>878492700374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.amde.qzapp</string>
	<key>PROJECT_ID</key>
	<string>q-zapp</string>
	<key>STORAGE_BUCKET</key>
	<string>q-zapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878492700374:ios:524afb513d754529</string>
	<key>DATABASE_URL</key>
	<string>https://q-zapp.firebaseio.com</string>
</dict>
</plist>